<a href="https://colab.research.google.com/github/bakhtkhan123/Deep-Learning-BWF-BakhtUllah/blob/main/Task16/Merging_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# combining and merging dataset

In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy import NAN as NA

In [6]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
'data1': range(7)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [9]:
df2=pd.DataFrame({'key':['a','b','d'],'data2':range(3)})
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [10]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [11]:
pd.merge(df1,df2,on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [16]:
df3=pd.DataFrame({'lkey':['a','b','a','c','a','a','b'],'data1':range(7)})
df4=pd.DataFrame({'rkey':['a','b','d'],'data2':range(3)})
# print(df3,df4)

In [17]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

  lkey  data1 rkey  data2
0    a      0    a      0
1    a      2    a      0
2    a      4    a      0
3    a      5    a      0
4    b      1    b      1
5    b      6    b      1

In [25]:
pd.merge(df1,df2,how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [26]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],'data1':range(6)})
df2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'],'data2':range(5)})

In [29]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [30]:
df2

  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4

In [28]:
pd.merge(df1,df2,on='key',how='left')

   key  data1  data2
0    b      0    1.0
1    b      0    3.0
2    b      1    1.0
3    b      1    3.0
4    a      2    0.0
5    a      2    2.0
6    c      3    NaN
7    a      4    0.0
8    a      4    2.0
9    b      5    1.0
10   b      5    3.0

In [31]:
pd.merge(df1,df2,how='inner')

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2

In [32]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'], 'key2': ['one', 'two', 'one'], 'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'], 'key2': ['one', 'one', 'one', 'two'], 'rval': [4, 5, 6, 7]})

In [34]:
pd.merge(left,right,on=['key1','key2'],how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

In [35]:
pd.merge(left,right,on='key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [36]:
pd.merge(left,right,on='key1',suffixes=('_left','_right'))

  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7

# Merging on indexes

In [37]:
left1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],'value':range(6)})
right1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])

In [38]:
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [39]:
right1

   group_val
a        3.5
b        7.0

In [45]:
pd.merge(left1,right1,left_on='key',right_index=True)

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [46]:
pd.merge(left1,right1,left_on='key',right_index=True,how='outer')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN

In [47]:
lefth = pd.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'key2': [2000, 2001, 2002, 2001, 2002], 'data': np.arange(5.)})
righth = pd.DataFrame(np.arange(12).reshape((6, 2)), index=[['Nevada', 'Nevada', 'Ohio', 'Ohio', 'Ohio', 'Ohio'], [2001, 2000, 2000, 2000, 2001, 2002]], columns=['event1', 'event2'])

In [48]:
lefth

     key1  key2  data
0    Ohio  2000   0.0
1    Ohio  2001   1.0
2    Ohio  2002   2.0
3  Nevada  2001   3.0
4  Nevada  2002   4.0

In [49]:
righth

             event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

In [51]:
pd.merge(lefth,righth,left_on=['key1','key2'],right_index=True)

     key1  key2  data  event1  event2
0    Ohio  2000   0.0       4       5
0    Ohio  2000   0.0       6       7
1    Ohio  2001   1.0       8       9
2    Ohio  2002   2.0      10      11
3  Nevada  2001   3.0       0       1

In [52]:
pd.merge(lefth,righth,left_on=['key1','key2'],right_index=True,how='outer')

     key1  key2  data  event1  event2
0    Ohio  2000   0.0     4.0     5.0
0    Ohio  2000   0.0     6.0     7.0
1    Ohio  2001   1.0     8.0     9.0
2    Ohio  2002   2.0    10.0    11.0
3  Nevada  2001   3.0     0.0     1.0
4  Nevada  2002   4.0     NaN     NaN
4  Nevada  2000   NaN     2.0     3.0

In [53]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]], index=['a', 'c', 'e'], columns=['Ohio', 'Nevada'])
right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]], index=['b', 'c', 'd', 'e'], columns=['Missouri', 'Alabama'])

In [54]:
left2

   Ohio  Nevada
a   1.0     2.0
c   3.0     4.0
e   5.0     6.0

In [55]:
right2

   Missouri  Alabama
b       7.0      8.0
c       9.0     10.0
d      11.0     12.0
e      13.0     14.0

In [56]:
#Using the indexes of both sides of the merge is also possible:
pd.merge(left2,right2,how='outer',left_index=True,right_index=True)

   Ohio  Nevada  Missouri  Alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0

In [57]:
left2.join(right2,how='outer')

   Ohio  Nevada  Missouri  Alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0

In [59]:
left1.join(right1,on='key')

  key  value  group_val
0   a      0        3.5
1   b      1        7.0
2   a      2        3.5
3   a      3        3.5
4   b      4        7.0
5   c      5        NaN

In [60]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]], index=['a', 'c', 'e', 'f'], columns=['New York', 'Oregon'])

In [61]:
another

   New York  Oregon
a       7.0     8.0
c       9.0    10.0
e      11.0    12.0
f      16.0    17.0

In [66]:
right2.join([another,left2])

   Missouri  Alabama  New York  Oregon  Ohio  Nevada
b       7.0      8.0       NaN     NaN   NaN     NaN
c       9.0     10.0       9.0    10.0   3.0     4.0
d      11.0     12.0       NaN     NaN   NaN     NaN
e      13.0     14.0      11.0    12.0   5.0     6.0

In [67]:
right2.join([another,left2],how='outer')

   Missouri  Alabama  New York  Oregon  Ohio  Nevada
b       7.0      8.0       NaN     NaN   NaN     NaN
c       9.0     10.0       9.0    10.0   3.0     4.0
d      11.0     12.0       NaN     NaN   NaN     NaN
e      13.0     14.0      11.0    12.0   5.0     6.0
a       NaN      NaN       7.0     8.0   1.0     2.0
f       NaN      NaN      16.0    17.0   NaN     NaN

# concatenating along an axis

In [69]:
arr = np.arange(12).reshape((3, 4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [72]:
np.concatenate([arr,arr],axis=1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [73]:
s1 = pd.Series([0, 1], index=['a', 'b']) 
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

In [75]:
pd.concat([s1,s2,s3])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [76]:
pd.concat([s1,s2,s3],axis=1)

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [78]:
s4=pd.concat([s1,s3])
s4

a    0
b    1
f    5
g    6
dtype: int64

In [81]:
pd.concat([s1,s4],axis=1,join='inner')

   0  1
a  0  0
b  1  1

In [88]:
result=pd.concat([s1,s2,s3],keys=['one','two','three'])
result

one    a    0
       b    1
two    c    2
       d    3
       e    4
three  f    5
       g    6
dtype: int64

In [89]:
result.unstack()

         a    b    c    d    e    f    g
one    0.0  1.0  NaN  NaN  NaN  NaN  NaN
two    NaN  NaN  2.0  3.0  4.0  NaN  NaN
three  NaN  NaN  NaN  NaN  NaN  5.0  6.0

In [91]:
pd.concat([s1,s2,s3],axis=1,keys=['one','two','three'])

   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0

In [92]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'], columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'], columns=['three', 'four'])

In [93]:
df1

   one  two
a    0    1
b    2    3
c    4    5

In [94]:
df2

   three  four
a      5     6
c      7     8

In [97]:
#The same logic extends to DataFrame objects:
pd.concat([df1,df2],axis=1,keys=['level1','level2'])

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [98]:
#If we pass a dict of objects instead of a list, the dict’s keys will be used for the keys option
pd.concat({'level1':df1,'level2':df2},axis=1)

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [99]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])

In [100]:
df1

          a         b         c         d
0 -1.173553 -0.572716  0.256260  1.600357
1  1.974278 -0.633206  0.768898  0.753963
2 -0.230373 -1.306521  0.089402 -1.768351

In [101]:
df2

          b         d         a
0  0.960736  1.421927 -0.265289
1  0.095518 -0.765061  0.534104

In [102]:
pd.concat([df1,df2],ignore_index=True)

          a         b         c         d
0 -1.173553 -0.572716  0.256260  1.600357
1  1.974278 -0.633206  0.768898  0.753963
2 -0.230373 -1.306521  0.089402 -1.768351
3 -0.265289  0.960736       NaN  1.421927
4  0.534104  0.095518       NaN -0.765061

# combining data with overlap

In [105]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan], index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64), index=['f', 'e', 'd', 'c', 'b', 'a'])

In [106]:
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [107]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    5.0
dtype: float64

In [110]:
b[-1]=np.nan
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

In [113]:
np.where(pd.isnull(a),b,a)

array([0. , 2.5, 2. , 3.5, 4.5, nan])

In [114]:
#Series has a combine_first method, which performs the equivalent of this operation along with pandas’s usual data alignment logic
b[:-2].combine_first(a[2:])

a    NaN
b    4.5
c    3.0
d    2.0
e    1.0
f    0.0
dtype: float64

In [116]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan], 'b': [np.nan, 2., np.nan, 6.], 'c': range(2, 18, 4)})
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.], 'b': [np.nan, 3., 4., 6., 8.]})

In [117]:
df1

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

In [118]:
df2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [119]:
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN

# Reshaping with hierarichical indexing

In [121]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)), index=pd.Index(['Ohio', 'Colorado'], name='state'), columns=pd.Index(['one', 'two', 'three'], name='number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [122]:
# Using the stack method on this data pivots the columns into the rows, producing a Series:
result=data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

In [123]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [124]:
result.unstack(0)

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [125]:
result.unstack('state')

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [127]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
data2=pd.concat([s1,s2],keys=['one','two'])

In [128]:
data2

one  a    0
     b    1
     c    2
     d    3
two  c    4
     d    5
     e    6
dtype: int64

In [129]:
data2.unstack()

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

In [130]:
data2.unstack().stack()

one  a    0.0
     b    1.0
     c    2.0
     d    3.0
two  c    4.0
     d    5.0
     e    6.0
dtype: float64

In [131]:
data2.unstack().stack(dropna=False)

one  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
two  a    NaN
     b    NaN
     c    4.0
     d    5.0
     e    6.0
dtype: float64

In [133]:
df = pd.DataFrame({'left': result, 'right': result + 5}, columns=pd.Index(['left', 'right'], name='side'))
df

side             left  right
state    number
Ohio     one        0      5
         two        1      6
         three      2      7
Colorado one        3      8
         two        4      9
         three      5     10

In [134]:
df.unstack('state')

side   left          right
state  Ohio Colorado  Ohio Colorado
number
one       0        3     5        8
two       1        4     6        9
three     2        5     7       10

In [135]:
df.unstack('state').stack('side')

state         Colorado  Ohio
number side
one    left          3     0
       right         8     5
two    left          4     1
       right         9     6
three  left          5     2
       right        10     7

# Pivoting long to wide format

In [164]:
url = 'https://resources.oreilly.com/examples/0636920023784/-/raw/761bd4536d5323581a557495f6362e444fcb7479/pydata-book-master/ch07/macrodata.csv'
data = pd.read_csv(url)

In [165]:
data.head()

     year  quarter   realgdp  realcons  ...  unemp      pop  infl  realint
0  1959.0      1.0  2710.349    1707.4  ...    5.8  177.146  0.00     0.00
1  1959.0      2.0  2778.801    1733.7  ...    5.1  177.830  2.34     0.74
2  1959.0      3.0  2775.488    1751.8  ...    5.3  178.657  2.74     1.09
3  1959.0      4.0  2785.204    1753.7  ...    5.6  179.386  0.27     4.06
4  1960.0      1.0  2847.699    1770.5  ...    5.2  180.007  2.31     1.19

[5 rows x 14 columns]

In [166]:

period=pd.PeriodIndex(year=data.year,quarter=data.quarter,name='date')
columns=pd.Index(['realgdp','infl','unemp'],name='item')
data=data.reindex(columns=columns)
data.index=period.to_timestamp('D','end')
ldata=data.stack().reset_index().rename(columns={0:'value'})

In [167]:
ldata[:10]

                           date     item     value
0 1959-03-31 23:59:59.999999999  realgdp  2710.349
1 1959-03-31 23:59:59.999999999     infl     0.000
2 1959-03-31 23:59:59.999999999    unemp     5.800
3 1959-06-30 23:59:59.999999999  realgdp  2778.801
4 1959-06-30 23:59:59.999999999     infl     2.340
5 1959-06-30 23:59:59.999999999    unemp     5.100
6 1959-09-30 23:59:59.999999999  realgdp  2775.488
7 1959-09-30 23:59:59.999999999     infl     2.740
8 1959-09-30 23:59:59.999999999    unemp     5.300
9 1959-12-31 23:59:59.999999999  realgdp  2785.204

In [168]:
pivoted=ldata.pivot('date','item','value')
pivoted

item                           infl    realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00   2710.349    5.8
1959-06-30 23:59:59.999999999  2.34   2778.801    5.1
1959-09-30 23:59:59.999999999  2.74   2775.488    5.3
1959-12-31 23:59:59.999999999  0.27   2785.204    5.6
1960-03-31 23:59:59.999999999  2.31   2847.699    5.2
...                             ...        ...    ...
2008-09-30 23:59:59.999999999 -3.16  13324.600    6.0
2008-12-31 23:59:59.999999999 -8.79  13141.920    6.9
2009-03-31 23:59:59.999999999  0.94  12925.410    8.1
2009-06-30 23:59:59.999999999  3.37  12901.504    9.2
2009-09-30 23:59:59.999999999  3.56  12990.341    9.6

[203 rows x 3 columns]

In [169]:
ldata['value2'] = np.random.randn(len(ldata))

In [170]:
ldata[:10]

                           date     item     value    value2
0 1959-03-31 23:59:59.999999999  realgdp  2710.349 -0.207021
1 1959-03-31 23:59:59.999999999     infl     0.000  2.441039
2 1959-03-31 23:59:59.999999999    unemp     5.800 -1.118900
3 1959-06-30 23:59:59.999999999  realgdp  2778.801 -0.165242
4 1959-06-30 23:59:59.999999999     infl     2.340  1.060146
5 1959-06-30 23:59:59.999999999    unemp     5.100  0.214049
6 1959-09-30 23:59:59.999999999  realgdp  2775.488 -1.555404
7 1959-09-30 23:59:59.999999999     infl     2.740 -0.623663
8 1959-09-30 23:59:59.999999999    unemp     5.300 -1.852954
9 1959-12-31 23:59:59.999999999  realgdp  2785.204 -0.841223

In [171]:
pivoted=ldata.pivot('date','item')
pivoted[:5]

                              value            ...    value2
item                           infl   realgdp  ...   realgdp     unemp
date                                           ...
1959-03-31 23:59:59.999999999  0.00  2710.349  ... -0.207021 -1.118900
1959-06-30 23:59:59.999999999  2.34  2778.801  ... -0.165242  0.214049
1959-09-30 23:59:59.999999999  2.74  2775.488  ... -1.555404 -1.852954
1959-12-31 23:59:59.999999999  0.27  2785.204  ... -0.841223  0.591560
1960-03-31 23:59:59.999999999  2.31  2847.699  ...  1.208410 -2.184035

[5 rows x 6 columns]

In [172]:
pivoted['value'][:5]

item                           infl   realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00  2710.349    5.8
1959-06-30 23:59:59.999999999  2.34  2778.801    5.1
1959-09-30 23:59:59.999999999  2.74  2775.488    5.3
1959-12-31 23:59:59.999999999  0.27  2785.204    5.6
1960-03-31 23:59:59.999999999  2.31  2847.699    5.2

In [173]:
unstacked = ldata.set_index(['date', 'item']).unstack('item')
unstacked[:7]

                              value            ...    value2
item                           infl   realgdp  ...   realgdp     unemp
date                                           ...
1959-03-31 23:59:59.999999999  0.00  2710.349  ... -0.207021 -1.118900
1959-06-30 23:59:59.999999999  2.34  2778.801  ... -0.165242  0.214049
1959-09-30 23:59:59.999999999  2.74  2775.488  ... -1.555404 -1.852954
1959-12-31 23:59:59.999999999  0.27  2785.204  ... -0.841223  0.591560
1960-03-31 23:59:59.999999999  2.31  2847.699  ...  1.208410 -2.184035
1960-06-30 23:59:59.999999999  0.14  2834.390  ...  0.708411 -0.697813
1960-09-30 23:59:59.999999999  2.70  2839.022  ...  0.468552  0.264884

[7 rows x 6 columns]

# Pivoting wide to long format

In [174]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'], 'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df

   key  A  B  C
0  foo  1  4  7
1  bar  2  5  8
2  baz  3  6  9

In [175]:
melted=pd.melt(df,['key'])

In [176]:
melted

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
6  foo        C      7
7  bar        C      8
8  baz        C      9

In [178]:
reshaped=melted.pivot('key','variable','value')
reshaped

variable  A  B  C
key
bar       2  5  8
baz       3  6  9
foo       1  4  7

In [179]:
reshaped.reset_index()

variable  key  A  B  C
0         bar  2  5  8
1         baz  3  6  9
2         foo  1  4  7

In [180]:
pd.melt(df, id_vars=['key'], value_vars=['A', 'B'])

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6

In [181]:
pd.melt(df, value_vars=['A', 'B', 'C'])

  variable  value
0        A      1
1        A      2
2        A      3
3        B      4
4        B      5
5        B      6
6        C      7
7        C      8
8        C      9