<a href="https://colab.research.google.com/github/bakhtkhan123/Deep-Learning-BWF-BakhtUllah/blob/main/Task15/Handling_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling mising data

In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NA
from pandas import Series,DataFrame

In [2]:
str_data=pd.Series(['bakht','seemi',np.nan,'jimi'])
str_data

0    bakht
1    seemi
2      NaN
3     jimi
dtype: object

In [3]:
str_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
str_data[0]=None
str_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

# Filtring out missing data

In [5]:
df=pd.Series(['1.',NA,'3.5',NA,'6'])
df

0     1.
1    NaN
2    3.5
3    NaN
4      6
dtype: object

In [6]:
df.dropna()

0     1.
2    3.5
4      6
dtype: object

In [7]:
df[df.notnull()]

0     1.
2    3.5
4      6
dtype: object

In [8]:
data=pd.DataFrame([['2.3','6.5','3.'],['2.3',NA,NA],[NA,NA,NA],[NA,'6.5','3.']])
data

     0    1    2
0  2.3  6.5   3.
1  2.3  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5   3.

In [9]:
cleaned=data.dropna()
cleaned

     0    1   2
0  2.3  6.5  3.

In [10]:
data.dropna(how='all')

     0    1    2
0  2.3  6.5   3.
1  2.3  NaN  NaN
3  NaN  6.5   3.

In [11]:
data[4]=NA
data

     0    1    2   4
0  2.3  6.5   3. NaN
1  2.3  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5   3. NaN

In [12]:
data.dropna(axis=1,how='all')

     0    1    2
0  2.3  6.5   3.
1  2.3  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5   3.

In [13]:
df=pd.DataFrame(np.random.randn(7,3))
df

          0         1         2
0 -0.409631 -0.763706 -0.098604
1  1.653491  0.772816  0.326790
2  0.477572  0.057580  0.787683
3  1.047579  0.933703 -1.447427
4 -0.118049 -1.363536  2.821717
5  1.573253  2.198990 -0.725150
6  1.339967 -1.350329 -1.752601

In [14]:
df.iloc[:4,1]=NA
df.iloc[:2,2]=NA

In [15]:
df

          0         1         2
0 -0.409631       NaN       NaN
1  1.653491       NaN       NaN
2  0.477572       NaN  0.787683
3  1.047579       NaN -1.447427
4 -0.118049 -1.363536  2.821717
5  1.573253  2.198990 -0.725150
6  1.339967 -1.350329 -1.752601

In [16]:
df.dropna()

          0         1         2
4 -0.118049 -1.363536  2.821717
5  1.573253  2.198990 -0.725150
6  1.339967 -1.350329 -1.752601

In [17]:
df.dropna(thresh=2)

          0         1         2
2  0.477572       NaN  0.787683
3  1.047579       NaN -1.447427
4 -0.118049 -1.363536  2.821717
5  1.573253  2.198990 -0.725150
6  1.339967 -1.350329 -1.752601

# Filling in missing data

In [18]:
df.fillna(0)

          0         1         2
0 -0.409631  0.000000  0.000000
1  1.653491  0.000000  0.000000
2  0.477572  0.000000  0.787683
3  1.047579  0.000000 -1.447427
4 -0.118049 -1.363536  2.821717
5  1.573253  2.198990 -0.725150
6  1.339967 -1.350329 -1.752601

In [19]:
df.fillna({1:1.5,2:0})

          0         1         2
0 -0.409631  1.500000  0.000000
1  1.653491  1.500000  0.000000
2  0.477572  1.500000  0.787683
3  1.047579  1.500000 -1.447427
4 -0.118049 -1.363536  2.821717
5  1.573253  2.198990 -0.725150
6  1.339967 -1.350329 -1.752601

In [20]:
df.fillna(0,inplace=True)
df

          0         1         2
0 -0.409631  0.000000  0.000000
1  1.653491  0.000000  0.000000
2  0.477572  0.000000  0.787683
3  1.047579  0.000000 -1.447427
4 -0.118049 -1.363536  2.821717
5  1.573253  2.198990 -0.725150
6  1.339967 -1.350329 -1.752601

In [21]:
df=pd.DataFrame(np.random.randn(6,3))
df

          0         1         2
0 -0.124088 -1.719810 -0.090419
1 -0.611359 -2.048075  1.738123
2  0.623535 -0.540184 -0.406636
3  0.189590 -1.743664  2.332588
4  0.002944 -0.183407 -0.156306
5 -0.255992  0.689843  0.705710

In [22]:
df.iloc[2:,1]=NA
df.iloc[4:,2]=NA
df

          0         1         2
0 -0.124088 -1.719810 -0.090419
1 -0.611359 -2.048075  1.738123
2  0.623535       NaN -0.406636
3  0.189590       NaN  2.332588
4  0.002944       NaN       NaN
5 -0.255992       NaN       NaN

In [23]:
df.fillna(method='ffill')
df

          0         1         2
0 -0.124088 -1.719810 -0.090419
1 -0.611359 -2.048075  1.738123
2  0.623535       NaN -0.406636
3  0.189590       NaN  2.332588
4  0.002944       NaN       NaN
5 -0.255992       NaN       NaN

In [24]:
df.fillna(method='ffill',limit=2)

          0         1         2
0 -0.124088 -1.719810 -0.090419
1 -0.611359 -2.048075  1.738123
2  0.623535 -2.048075 -0.406636
3  0.189590 -2.048075  2.332588
4  0.002944       NaN  2.332588
5 -0.255992       NaN  2.332588

In [25]:
data=pd.Series([1.,NA,3.5,NA,7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [26]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

# Data transformation

## Removing Duplicates

In [27]:
data=pd.DataFrame({'k1':['one','two']*3 +['two'],
                   'k2':[1,1,2,3,3,4,4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [28]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [29]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [30]:
data['v1']=range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [31]:
data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [32]:
data.drop_duplicates(['k1','k2'],keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

# Transform Data Using function and Mapping

In [33]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
 'Pastrami', 'corned beef', 'Bacon',
 'pastrami', 'honey ham', 'nova lox'],
 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [34]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}
lowerdcase=data['food'].str.lower()
lowerdcase

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [35]:
data['animal']=lowerdcase.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [36]:
data['food'].map(lambda x:meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

# Replacing values

In [37]:
data=pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [38]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [39]:
data.replace([-999,-1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [40]:
data.replace([-999,-1000],[np.nan,0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [41]:
data.replace({-999:np.nan,-1000:0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

# Renaming Axis Indexes

In [42]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
 index=['Ohio', 'Colorado', 'New York'],
 columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [43]:
transform=lambda x:x[:4].upper()
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [44]:
data.index=data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [45]:
data.rename(index=str.title,columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [46]:
data.rename(index={'OHIO':'INDIANA'},columns={'three':'pekaboo'})

         one  two  pekaboo  four
INDIANA    0    1        2     3
COLO       4    5        6     7
NEW        8    9       10    11

In [47]:
data.rename(index={'OHIO':'INDIANA'},inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

# Discritization and Bining

In [48]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins=[18,25,35,60,100]
group=pd.cut(ages,bins)
group

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [49]:
group.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [50]:
group.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [51]:
pd.value_counts(group)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [52]:
pd.cut(ages,[18,25,35,60,100],right=True)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [54]:
group_names=['youth','young age','middleage','senior']
pd.cut(ages,bins,labels=group_names)

['youth', 'youth', 'youth', 'young age', 'youth', ..., 'young age', 'senior', 'middleage', 'middleage', 'young age']
Length: 12
Categories (4, object): ['youth' < 'young age' < 'middleage' < 'senior']

In [55]:
data=np.random.randn(20)
data

array([-0.85217781, -0.8405    ,  0.26339861,  0.79394088, -0.05844109,
        0.57670802,  1.25842785, -0.11234218, -0.57268043, -0.19373865,
        0.6704229 ,  0.84134397, -2.43482816, -0.32468629, -1.01557504,
        1.73541698,  0.03093025, -0.32868164,  0.934365  , -0.39727627])

In [56]:
pd.cut(data,4,precision=2)

[(-1.39, -0.35], (-1.39, -0.35], (-0.35, 0.69], (0.69, 1.74], (-0.35, 0.69], ..., (0.69, 1.74], (-0.35, 0.69], (-0.35, 0.69], (0.69, 1.74], (-1.39, -0.35]]
Length: 20
Categories (4, interval[float64, right]): [(-2.44, -1.39] < (-1.39, -0.35] < (-0.35, 0.69] <
                                           (0.69, 1.74]]

In [59]:
data=np.random.randn(1000)
cats=pd.cut(data,4)

In [60]:
pd.value_counts(cats)

(-1.75, -0.0087]    458
(-0.0087, 1.733]    458
(-3.498, -1.75]      44
(1.733, 3.474]       40
dtype: int64

In [61]:
pd.qcut(data,[0,0.1,0.5,0.9,1.0])

[(-0.0141, 1.303], (-0.0141, 1.303], (-1.318, -0.0141], (-3.492, -1.318], (-0.0141, 1.303], ..., (-1.318, -0.0141], (-1.318, -0.0141], (-0.0141, 1.303], (-0.0141, 1.303], (-1.318, -0.0141]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.492, -1.318] < (-1.318, -0.0141] < (-0.0141, 1.303] <
                                           (1.303, 3.474]]

# Detecting and filtring outlier

In [63]:
data=pd.DataFrame(np.random.randn(1000,4))
data

            0         1         2         3
0    0.710216  0.155155  0.976821 -1.651852
1   -0.263279 -1.340603  0.017179 -2.420888
2   -2.024667 -0.662858 -0.237502 -0.338511
3   -0.869100  0.307783  0.093346  0.402568
4   -0.400645 -2.019310  0.365353 -2.067239
..        ...       ...       ...       ...
995  1.038954  2.240303  1.034666  0.498780
996 -0.740689  0.094667  0.726028 -0.018989
997  0.391290 -0.512631  0.317349 -0.903071
998  0.633545 -0.576644 -0.787356 -2.139330
999  0.601142  0.510026 -0.965674 -0.324985

[1000 rows x 4 columns]

In [64]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.063724    -0.011217    -0.025835    -0.038019
std       1.022711     1.025983     0.977572     0.993810
min      -2.962289    -3.459613    -2.880500    -3.409996
25%      -0.749367    -0.696846    -0.671394    -0.716698
50%      -0.062502    -0.015750    -0.031084    -0.053288
75%       0.615182     0.675713     0.621265     0.625629
max       3.338078     3.687712     3.281561     3.006660

In [66]:
col=data[2]
col[np.abs(col)>3]

537    3.281561
Name: 2, dtype: float64

In [68]:
data[(np.abs(data)>3).any(1)]

            0         1         2         3
190 -0.678555 -0.734666 -1.486193  3.006660
231  3.058646 -0.565590 -0.521461 -1.825658
236 -0.392038 -3.060061  1.006138  0.138594
362  0.619648 -3.459613  0.819719  1.342132
412 -0.000832  3.687712  0.625711  0.833408
481  0.320117  0.264822 -1.232736 -3.409996
489  3.138326  1.693274 -1.283357 -0.893840
537  1.544317  0.319729  3.281561  1.637436
543  3.338078 -0.089360 -1.939416  0.254238
748  1.206969 -3.014447 -0.700906 -0.365513
795  3.161058  1.771358 -0.905933 -1.906116
812  0.445290 -3.205599 -0.517021 -0.114323

In [70]:
data[np.abs(data)>3]=np.sign(data)*3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.064420    -0.011165    -0.026116    -0.037616
std       1.020541     1.021439     0.976659     0.992480
min      -2.962289    -3.000000    -2.880500    -3.000000
25%      -0.749367    -0.696846    -0.671394    -0.716698
50%      -0.062502    -0.015750    -0.031084    -0.053288
75%       0.615182     0.675713     0.621265     0.625629
max       3.000000     3.000000     3.000000     3.000000

In [71]:
np.sign(data).head()

     0    1    2    3
0  1.0  1.0  1.0 -1.0
1 -1.0 -1.0  1.0 -1.0
2 -1.0 -1.0 -1.0 -1.0
3 -1.0  1.0  1.0  1.0
4 -1.0 -1.0  1.0 -1.0